@model DesafioTecnico.Models.Documento

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">

<h1>Create</h1>

<h4>Documento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data" id="myForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group  ">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processo" class="control-label"></label>
                <input asp-for="Processo" class="form-control" />
                <span asp-validation-for="Processo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arquivo" class="control-label "></label>
                <input type="file" class="form-control" name="file" id="file" />
                <span asp-validation-for="Arquivo" class="text-danger" ></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>






<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script>

        $(document).ready(function () {
            jQuery.validator.addMethod("filetype", function (value, element) {
                var types = ['jpeg', 'jpg', 'pdf'],
                    ext = value.replace(/.*[.]/, '').toLowerCase();

                if (types.indexOf(ext) !== -1) {
                    //$("#city_banner-error").html('');
                    return true;
                }
                return false;
            },
                "Please select allowed file"
            );
            $('#myForm').validate({
                rules:
                {
                    file:
                    {
                        filetype: true
                    }
                }
            });
        });


    </script>




}