@model DesafioTecnico.Models.Documento

@{
    ViewData["Title"] = "Cadastro";
}
@section Styles
{

    <link href="~/css/toastr.css" rel="stylesheet" />
}


<span id="Mensagem" class="d-none">@TempData["Mensagem"]</span>
<h1>@TempData["valor"]</h1>

<h1 class="text-success">Cadastro</h1>

<hr/>

<div class="row">
    <div class="col-md-4 ">

    </div>

    <div class="col-md-4 coresLaterias p-md-2">
        
        <form asp-action="Create" method="post" enctype="multipart/form-data" id="myForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group ">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processo" class="control-label"></label>
                <input asp-for="Processo" class="form-control" />
                <span asp-validation-for="Processo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arquivo" class="control-label "></label>
                <input type="file" class="form-control-file" name="file" id="file" accept="application/pdf,
                       application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                       application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                       application/xls ,application/x-xls "
                       data-msg-accept="Formato do aquivo não suportado" />
                <span asp-validation-for="Arquivo" class="text-danger"></span>

               
            </div>           
            <div class="form-group form-row ">
                <input type="submit" value="Salvar" class="btn btn-outline-success col " />
                <a class="btn btn-outline-success col" asp-action="Index">Ir para Relatorios</a>
            </div>           

        </form>
                     
    </div>
        
    </div>

    <div class="col-md-4 ">

    </div>










@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    <script src="~/js/toastr.js"></script>
    <script src="~/js/arquivoValidator.js"></script>
    <script src="~/js/toastrMensagem.js"></script>

}