@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Documentos de Procedimentos Operacionais</h1>

</div>

<div class="row justify-content-around m-5">
    <div class="col-4">
        <a class="btn btn-outline-success"  asp-area="" asp-controller="Relatorios"  asp-action="Cadastro">Novo Cadastro</a>
    </div>
    <div class="col-4">
        <a class="btn btn-outline-success" asp-area="" asp-controller="Relatorios" asp-action="Index">Relatorios </a>
    </div>
</div>