<h3>Um erro aconteceu! Por favor se ele ocorrer novamente entre em contato 
    com a Administração.</h3>
<hr />
<div  style="text-align:center"><a class=" btn btn-outline-success" 
asp-action="Index" asp-controller="Home">Voltar para tela Inicial</a></div>

<hr />

<h2>Error Details:</h2>
<div>
    <h4>Error Path</h4>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div>
    <h4>Error Message</h4>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>



<div>
    <h4>Error Stack Trace</h4>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>